---
http_interactions:
- request:
    method: get
    uri: http://stats.nba.com/stats/commonallplayers/?IsOnlyCurrentSeason=1&LeagueId=00&Season=2014-15
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 05 Aug 2015 07:33:41 GMT
    body:
      encoding: UTF-8
      string: '{"resource":"commonallplayers","parameters":{"LeagueID":"00","Season":"2014-15","IsOnlyCurrentSeason":1},"resultSets":[{"name":"CommonAllPlayers","headers":["PERSON_ID","DISPLAY_LAST_COMMA_FIRST","ROSTERSTATUS","FROM_YEAR","TO_YEAR","PLAYERCODE","TEAM_ID","TEAM_CITY","TEAM_NAME","TEAM_ABBREVIATION","TEAM_CODE"],"rowSet":[[203112,"Acy,
        Quincy",1,"2012","2015","quincy_acy",1610612752,"New York","Knicks","NYK","knicks"],[203919,"Adams,
        Jordan",1,"2014","2015","jordan_adams",1610612763,"Memphis","Grizzlies","MEM","grizzlies"],[203500,"Adams,
        Steven",1,"2013","2015","steven_adams",1610612760,"Oklahoma City","Thunder","OKC","thunder"],[202399,"Adrien,
        Jeff",0,"2010","2014","jeff_adrien",0,"","","",""],[201167,"Afflalo, Arron",1,"2007","2015","arron_afflalo",1610612757,"Portland","Trail[...]
